@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 246 247;
    --foreground: 5 3 4;
    --card: 255 255 255;
    --card-foreground: 14 0 7;
    --popover: 252 237 245;
    --popover-foreground: 14 0 7;
    --primary: 255 0 127;
    --primary-foreground: 255 240 247;
    --secondary: 31 31 31;
    --secondary-foreground: 204 204 204;
    --muted: 222 210 216;
    --muted-foreground: 125 93 109;
    --accent: 255 40 84;
    --accent-foreground: 255 255 255;
    --destructive: 255 56 43;
    --destructive-foreground: 255 255 255;
    --border: 243 232 237;
    --input: 227 202 214;
    --ring: 243 232 237;

    --android-background: 254 250 252;
    --android-foreground: 13 12 13;
    --android-card: 255 255 255;
    --android-card-foreground: 14 0 7;
    --android-popover: 252 237 245;
    --android-popover-foreground: 14 0 7;
    --android-primary: 255 0 127;
    --android-primary-foreground: 255 240 247;
    --android-secondary: 31 31 31;
    --android-secondary-foreground: 204 204 204;
    --android-muted: 222 210 216;
    --android-muted-foreground: 104 77 90;
    --android-accent: 169 73 204;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 186 26 26;
    --android-destructive-foreground: 255 255 255;
    --android-border: 186 179 183;
    --android-input: 203 191 197;
    --android-ring: 186 179 183;

    --web-background: 254 249 252;
    --web-foreground: 16 14 15;
    --web-card: 255 255 255;
    --web-card-foreground: 24 28 35;
    --web-popover: 215 217 228;
    --web-popover-foreground: 0 0 0;
    --web-primary: 255 0 127;
    --web-primary-foreground: 255 232 243;
    --web-secondary: 31 31 31;
    --web-secondary-foreground: 244 244 244;
    --web-muted: 229 216 222;
    --web-muted-foreground: 121 80 100;
    --web-accent: 169 73 204;
    --web-accent-foreground: 255 255 255;
    --web-destructive: 186 26 26;
    --web-destructive-foreground: 255 255 255;
    --web-border: 239 236 237;
    --web-input: 247 244 245;
    --web-ring: 231 223 227;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 4 0 2;
      --foreground: 255 247 251;
      --card: 43 18 30;
      --card-foreground: 255 247 251;
      --popover: 48 38 43;
      --popover-foreground: 255 247 251;
      --primary: 255 0 127;
      --primary-foreground: 255 255 255;
      --secondary: 150 150 150;
      --secondary-foreground: 51 51 51;
      --muted: 111 87 99;
      --muted-foreground: 208 195 201;
      --accent: 255 52 95;
      --accent-foreground: 255 255 255;
      --destructive: 254 67 54;
      --destructive-foreground: 255 255 255;
      --border: 71 56 64;
      --input: 85 67 76;
      --ring: 71 56 64;

      --android-background: 28 21 24;
      --android-foreground: 235 224 230;
      --android-card: 74 67 70;
      --android-card-foreground: 203 193 198;
      --android-popover: 74 67 70;
      --android-popover-foreground: 203 193 198;
      --android-primary: 255 0 127;
      --android-primary-foreground: 255 255 255;
      --android-secondary: 150 150 150;
      --android-secondary-foreground: 51 51 51;
      --android-muted: 27 24 26;
      --android-muted-foreground: 228 221 225;
      --android-accent: 83 0 111;
      --android-accent-foreground: 255 255 255;
      --android-destructive: 147 0 10;
      --android-destructive-foreground: 255 255 255;
      --android-border: 150 139 144;
      --android-input: 75 66 70;
      --android-ring: 150 139 144;

      --web-background: 27 18 22;
      --web-foreground: 234 220 227;
      --web-card: 70 74 78;
      --web-card-foreground: 197 201 206;
      --web-popover: 70 74 78;
      --web-popover-foreground: 197 201 206;
      --web-primary: 255 0 127;
      --web-primary-foreground: 255 232 243;
      --web-secondary: 148 148 148;
      --web-secondary-foreground: 11 11 11;
      --web-muted: 37 30 33;
      --web-muted-foreground: 218 205 212;
      --web-accent: 83 0 111;
      --web-accent-foreground: 255 255 255;
      --web-destructive: 147 0 10;
      --web-destructive-foreground: 255 255 255;
      --web-border: 65 53 59;
      --web-input: 56 41 49;
      --web-ring: 85 63 74;
    }
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  #root {
    height: -webkit-fill-available;
  }
}
